
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: 'Neue Machina';
    src: url(../fonts/neue-machina-regular.otf);
}

body {
    background-color: #000;
    color: #fff;

}

.container {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}

.container::before,
container::after {
    content: '';
    background-image: url(/assets/images/background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    width: 140vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

.container::after{
    content: '';
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: rotate(180deg);
}

@media only screen and (min-width: 768px) {

    .container {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .container::before,
    .container::after {
        width: 70vw;
    }

  }